@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-toggle, .navbar-toggle:hover {
  background-color: #362109;
}

.navbar-default .navbar-toggle:focus {
  background-color: #f26717;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddd;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

h1, h2, h4 {
  text-align: center;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.center{
  text-align: center;
}
